@font-face{
    font-family: My-Goth-Font;
    src: url("../src/Nanum_Gothic/NanumGothic-Regular.ttf");
}
@font-face{
    font-family: My-Goth-Font-heavy;
    src: url("../src/Nanum_Gothic/NanumGothic-Bold.ttf");
}

@font-face{
    font-family: My-Goth-Font-extra-heavy;
    src: url("../src/Nanum_Gothic/NanumGothic-ExtraBold.ttf");
}

.pageContainer
{
    font-family: "My-Goth-Font-heavy";
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr;
    padding: 0;

}
.header{

    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #5eead4;
    align-self: center;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar{
    grid-column: 1/2;
    grid-row: 2/3;
    box-shadow: 1px 1px #a3a3a3;
    padding: 2vw;
    font-size: 1.5em;
}

.mainDisplay{
    grid-column: 2/3;
    grid-row: 2/3;
    padding-left: 3vw;
}

.displayForm
{
    padding: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;

    gap: 10px;
    text-align: center;


}

.submissionButton
{
    grid-column: 4/5;

}

#notes
{
grid-column: 2/5;

}

.toDoDisplayDiv
{
    padding: 1vw;

}

.sidebarItem
{
    margin-bottom: 2vh;
}

#activeGoals:hover
{
    background-color: #e5e7eb;

}

.projectItem:hover
{
    background-color: #e5e7eb;

}
li.projectItem{
    font-size: 0.8em;
    padding: 1vw;
}

.toDoDispDiv
{
width: 95%;
padding: 1vw;
display: grid;
grid-template-columns: 8fr 1fr 1fr;
gap: 0.5vw;
border-bottom: #a3a3a3 dotted 1px;

}

.clearedTask
{
    text-decoration: line-through;
    color: rgba(139, 133, 133, 0.8);
}

.projectAdditiondiv
{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1vw;
    margin: 2vh;
    text-align: center;
}